/*Estilos da página index.html*/
body{
    background-color: #00ffbf;
}

.titulo{
    text-align: center;
}
section{
    text-align: left;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#links ul li{
    display: inline;
    padding: 20px;
}
#links ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
#links ul li a:hover{
    color: #9900ff;
}
.comentario{
    padding: 30px;
}
.imagem{
    border-radius: 50%;
}
.circulo{
    width: 400px;
    height: 400px;
}
.social{
    width: 30px;
    height: 30px;
    position: relative;
    
}
div a:hover{

    transform: scale(1.8);
    border-bottom: 2px solid #999;
    
}
.mb-50{
    margin-bottom: 50px;
}
.rodape{
    padding: 10px;
}
.mb-20{
    padding-top: 80px;

}



/*Estilos da página contato.html*/